:root{
--main-font: Roboto;
--secondary-font: Raleway;
--title-dark-theme: #ffffff;
--accent-color: #2196F3;
}

body {
font-family: var(--main-font);
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
background-color: #ffffff;
color: #757575;
}

.link {
text-decoration: none;
}

.list {
list-style: none;
}

/*Header*/

.logo, 
.web {
font-family: var(--secondary-font);
font-size: 26px;
line-height: 1.19;    
}

.logo {
color: #000000;
}

.web {   
color: var(--accent-color);
}

.navigation-list-link,
.header-adress {
letter-spacing: 0.02em;
   }

.navigation-list-link {
color: #212121;
}

.header-adress {
color: #757575;
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.header-adress:hover,
.header-adress:focus {
color: var(--accent-color);
}

.hero-title{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--title-dark-theme);
    }

.modal-btn{
font-size: 16px;
line-height: 1.88;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--title-dark-theme);
background-color: var(--accent-color);
}

.heading3{
text-transform: uppercase;
color: #212121;
}

.project-description {
font-weight: normal;
font-size: 14px;
line-height: 1.71;
}

.title2{
font-size: 36px;
line-height: 1.17;
text-align: center;
color: #212121;
background: #E5E5E5;
}

.activities{
text-align: center;
text-transform: uppercase;
color: var(--title-dark-theme);
background: rgba(47, 48, 58, 0.8);
}

.title3{
font-weight: 500;
font-size: 16px;
line-height: 1.89;
text-align: center;
color: #212121;
}

.staff {
font-weight: normal;
font-size: 16px;
line-height: 1.89;
text-align: center;
}

.adress{
font-weight: normal;
font-size: 14px;
line-height: 1.71;
color: var(--title-dark-theme);
}

.e-mail,
.tel {
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
color: rgba(255, 255, 255, 0.6);
}

.footer{
background: #2F303A;
}

.logo-footer{
font-family: var(--secondary-font);
font-size: 26px;
line-height: 1.19;    
color: var(--title-dark-theme);
}

.foter-actions{
text-transform: uppercase;
color: var(--title-dark-theme);
}

.button-e-mail{
font-weight: normal;
font-size: 16px;
line-height: 1.25;
display: flex;
align-items: center;
color: rgba(255, 255, 255, 0.6);
background: #2F303A;
}

.button-subscribe{
font-size: 16px;
line-height: 1.88;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--title-dark-theme);
background: var(--accent-color);
}

/*Portfolio*/

.button-our-work{
font-weight: 500;
font-size: 16px;
line-height: 1.63;
text-align: center;
color: #212121;
}

.button-our-work:hover,
.button-our-work:focus {
background-color: var(--accent-color) ;
color: var(--title-dark-theme);
}

.all-work{
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: #212121;
}

.all-project{
font-weight: normal;
font-size: 16px;
line-height: 1.88;
color: #757575;
}
